<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#submitBtn").click(function(){
				// validate first name
				var firstName = $("#firstName").val();
				if(firstName == ""){
					alert("Please enter your first name");
					return false;
				}

				// validate last name
				var lastName = $("#lastName").val();
				if(lastName == ""){
					alert("Please enter your last name");
					return false;
				}

				// validate email
				var email = $("#email").val();
				if(email == ""){
					alert("Please enter your email");
					return false;
				}

				// validate date of birth
				var dob = $("#dob").val();
				if(dob == ""){
					alert("Please enter your date of birth");
					return false;
				}

				// validate gender
				var gender = $("#gender").val();
				if(gender == ""){
					alert("Please select your gender");
					return false;
				}

				// validate address line 1
				var address1 = $("#address1").val();
				if(address1 == ""){
					alert("Please enter your address line 1");
					return false;
				}

				// validate city
				var city = $("#city").val();
				if(city == ""){
					alert("Please enter your city");
					return false;
				}

				// validate state
				var state = $("#state").val();
				if(state == ""){
					alert("Please enter your state");
					return false;
				}

				// validate postal code
				var postalCode = $("#postalCode").val();
				if(postalCode == ""){
					alert("Please enter your postal code");
					return false;
				}

				// validate country
				var country = $("#country").val();
				if(country == ""){
					alert("Please enter your country");
					return false;
				}
			});
		});
	</script>
</head>
<body style="background-color:bisque;">

<div class="container">
	<h2>Personal Details Form</h2>
	<form th:action="@{/registerUser}" th:object="${user}" method="post">
		<div class="form-group">
			<label for="firstName">First Name:</label>
			<input type="text" th:field="*{firstname}" class="form-control" id="firstName" placeholder="Enter First Name">
		</div>
		<div class="form-group">
			<label for="lastName">Last Name:</label>
			<input type="text" th:field="*{lastname}" class="form-control" id="lastName" placeholder="Enter Last Name">
		</div>
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Enter Email">
		</div>
		<div class="form-group">
			<label for="phone">Phone:</label>
			<input type="number" th:field="*{phone}" class="form-control" id="phone" placeholder="Enter Mobile Number">
		</div>
		<div class="form-group">
			<label for="dob">Date of Birth:</label>
			<input type="date" th:field="*{dob}" class="form-control" id="dob">
		</div>
		<div class="form-group">
			<label for="gender">Gender:</label>
			<select class="form-control" th:field="*{gender}" name="gender" id="gender">
				<option value="" >Select Gender</option>
				<option th:field="*{gender}" name="gender" value="male">Male</option>
				<option th:field="*{gender}" name="gender" value="female">Female</option>
				<option th:field="*{gender}" name="gender" value="other">Other</option>
			</select>
		</div>
		<div class="form-group">
			<label for="address1">Address Line 1:</label>
			<input type="text" th:field="*{address1}" class="form-control" id="address1" placeholder="Enter Address Line 1">
		</div>
		<div class="form-group">
			<label for="address2">Address Line 2:</label>
			<input type="text" th:field="*{address2}" class="form-control" id="address2" placeholder="Enter Address Line 2">
		</div>
		<div class="form-group">
			<label for="city">City:</label>
			<input type="text" th:field="*{city}" class="form-control" id="city" placeholder="Enter City">
		</div>
		<div class="form-group">
			<label for="state">State:</label>
			<input type="text" th:field="*{state}" class="form-control" id="state" placeholder="Enter State">
		</div>
		<div class="form-group">
			<label for="postalCode">Postal Code:</label>
			<input type="text"  th:field="*{postalcode}" class="form-control" id="postalCode" placeholder="Enter Postal Code">
		</div>
		<div class="form-group">
			<label for="country">Country:</label>
			<input type="text" th:field="*{country}" class="form-control" id="country" placeholder="Enter Country">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>

</body>
</html>
